<?php
return array(
	'sta' => array(
	    /**
	     * Configurações do php.ini que serão setadas assim que o módulo Sta for carregado.
		'php-settings' => array(),

		/**
		 * Determina se deve registrar os tipos customizados para o Doctrine.
		 */
		'customDoctrineTypes' => true,
		
		/**
		 * Está função deve retornar um boolean.
		 * Determina se estamos rodando em um ambiente local ou no servidor real.
		 */
		'isLocal' => function() {
            $sapi_type = php_sapi_name();
            if (substr($sapi_type, 0, 3) == 'cli') {
                // rodando do console - provavelmente é o script do Doctrine p/ criação do DB
                return true;
            } else {
                $hostname = $_SERVER['SERVER_NAME'];
                return ($hostname == 'local.grands.sell');
            }
        },
        
        'entityToArray-converter' =>array(
            'defaults' =>array(
                'noEntityName' => false,
            ),
        ),
	),
);
